@use "../variables";

.bookpreview {
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 90px;

    @media screen and (max-width: variables.$mobile-bp) {
      flex-direction: column;
    }

    button {
      outline: none;
      border: 1px solid variables.$text-dark-color;
      background: white;
      padding: 10px;
      border-radius: 5px;
    }

    button:hover {
      cursor: pointer;
      background-color: variables.$text-dark-color;
      color: variables.$text-light-color;
    }
  }

  &__leftcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__rightcontainer {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    color: variables.$text-light-color;
    @media screen and (max-width: variables.$mobile-bp) {
      margin-top: 50px;
      text-align: center;
    }
  }

  &__description {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__year {
    margin-top: 20px;
  }

  &__publisher {
    margin-top: 20px;
  }

  &__buybutton {
    margin-top: 20px;
  }
}
