@use "../../variables";

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: variables.$dark-color;
    color: white;
    border-bottom: 1px solid variables.$secondary-color;
  }

  &__logo {
    border-right: 1px solid white;
    padding-right: 20px;
  }

  &__left {
    display: flex;
    align-items: center;

    &-search {
      margin-left: 15px;
    }
  }
}

.link {
  text-decoration: none;
  color: unset;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}
