@use "../../variables";

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: variables.$header-color;
    color: variables.$text-light-color;
  }

  &__logo {
    border-right: 1px solid white;
    padding-right: 20px;
  }

  &__left {
    display: flex;

    &-search {
      margin-left: 15px;
    }
  }
}

.link {
  text-decoration: none;
  color: unset;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}
