@use "../../variables";
.filters {
  &__container {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      margin-left: unset;
    }

    label {
      color: variables.$secondary-color;
      font-size: 20px;
    }
    .MuiSelect-select {
      background: variables.$secondary-color !important;
      border: 1px solid variables;
      border-radius: 10px !important;
      color: black;
      padding: 10px;
      margin-top: -10px;
    }

    .MuiFormLabel-root {
      font-size: 20px;
      color: variables.$dark-color;
      z-index: 1;
    }

    .MuiList-root {
      li {
        background: variables.$secondary-color !important;
      }
    }
  }
}
